<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <h1>24-hours story feature with Astro</h1>
  <h1>About this site</h1>
  <h2>...</h2>

  <p>Web site build with Astro, it mocks a social network story feature</p>

  <p>This web site will be upgraded eventually</p>
</body>
