---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Learning Astro";
---

<body>
  <Layout pageTitle={pageTitle}>
    <h1>Astro</h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </Layout>
</body>
